html {

  font-family: "Open Sans", sans-serif;
}

nav {
  background-color: #614882;
  color: #fff;
}

h1, h2, h3 {
  font-family: "Days One", sans-serif;
  color: #614882;
}

.nav-text {
  color: #ddc5e5;
}

.banner {
  background-color: #fff;
}

.polaroid {
  background-color: #fff;
  text-decoration: none;
  border-style: solid;
  border-color: #ede9f4;
  border-width: 5px;
}

.current {
  background-color: #ddc5e5;
  color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  background-color: #614882;
  border: none;
  color: #fff;
}

footer a {
  color: #000;
}

.cards {
  background-color: #ddc5e5;
  border-color: #fff;
  border-style: solid;
  border-width: 5px;
}

.icons {
  background-color: #ede9f4;
}

.polaroids {
  background-color: #ede9f4;
}

.review {
  border-top: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: #ddc5e5;
}

.features {
  color: #000;
}

form {
  background-color: #ddc5e5;
}

.section {
  background-color: #fff;
}

nav a:hover {
  background-color: #000;
  color: #fff;
}
