html {
  background-color: #EDE9F4;
  font-family: "Open Sans", sans-serif;
 }

nav {
  background-color: #614882;
}

h1 {
  color: #fff;
}

h1, h2, h3 {
  font-family: "Days One", sans-serif;
}

h2, h3 {
  color: #614882;
}

.nav-text {
  color: #ddc5e5;
}

nav {
  color: #fff;
}

.banner {
  background-color: #fff;
}

.polaroid {
  background-color: #fff;
  text-decoration: none;
}

.current {
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  background-color:  #614882;
  border: none;
  color: #fff;
}

footer a {
  color: #000;
}
